.container {
  display: flex;
  background-color: #f7f7f6;
  margin: 10%;
}
.sidebar {
  display: grid;
  background-color: #dddddd;
  width: 40vw;
  text-align: center;
  align-items: center;
}

.average, .reviews, .sentiment{

  display: inline-block;
  background-color: #dddddd;
  width: 30%;

}
.right {
 margin-left: 20px;
}

.top {

  display: flex;
  justify-content: space-between;
  width: 60vw;
}

h4 {
  display: flex;
  justify-content: center;
}

ul {
  padding: 1%;
  list-style-type: none;
  font-weight: bolder;
}

.website {
  background-color: #dddddd;
  height: 30vh;

}
p {
  margin-left: 5px;
}

h2 {
  padding-left: 5px;
  padding-bottom: 60%;
}


.box {
  background-color: #bfbebd;
  margin-left: 10%;
  margin-right: 10%;
  height: 15vh;
 
}
